# Ignore all files in the node_modules directory
.env

# Python
/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDEs / Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Testing
.pytest_cache/
htmlcov/
.coverage